div{
background:var(--icon-color-favourite);
color:var(--ion-color-favourite-contrast);
}

.chat:hover{
  background-color: lightgreen;
  text-emphasis-color: white;
  border-radius: 25px;

}

.image{
  background-color: lightgreen;
  border-radius: 25px;
}